@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

.page {
    font-family: 'Karla', sans-serif;
    color: #ffff;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 75px;
}

.content {
    width: 90%;
}

@media (max-width:710px) {
    .page-container {
        padding-top: 130px;
    }
}