header {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
}

#nav-bar {
    display: flex;
    margin: 20px;
}

h2 {
    margin-left: 10px;
}

.nav-individual-link {
    letter-spacing: 5px;
    color: #738290;
    margin: 5px 10px;
    letter-spacing: 3px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.nav-individual-link:hover {
    color: #4C5364;
    transform: scale(1.1);
}

@media (max-width:710px) {
    header {
        justify-content: center;
    }

    h2 {
        margin-bottom: 0px;
    }
}